body {
    margin: 0;
    width: 768px;
  }
  .sidebar {
    width: 15%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    padding-top: 10px;
    border-right: 10px solid rgb(230, 230, 230);
  }
  .sidebar img {
    width: 80px;
    border-radius: 100%;
    border: 2px solid #e5e5e5;
  }
  .sidebar h2 {
    font-size: 42px;
    font-family: sans-serif;
  }
  .sidebar h4 {
    color: #d1cfcf;
    padding-bottom: 20px;
    font-size: 24px;
  }
  #nav {
    list-style-type: none;
    text-align: center;
    padding: 0px;
  }
  #nav li {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid rgb(237, 236, 236);
    border-top: 1px solid rgb(237, 236, 236);
    margin-top: -1px;
  }
  #nav li.active {
    background-color: #fcf8f8;
  }
  li.active a:after {
    background-color: #f4c052;
    display: block;
    position: absolute;
    content: " ";
    right: 0;
    bottom: 0;
    width: 8px;
    height: 100%;
  }
  #nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }
  .social img {
    width: 25px;
    align-items: center;
    opacity: 0.5;
  }

  .textspace {
    padding-left: 15%;
    background-color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
  }
  .top_part {
    padding-top: 10px;
    width: 80%;
  }
  .top_part #title {
    font-size: 35px;
    font-weight: bold;
    padding-top: 10%;
    color: white;
    background-color: #fdd802;
    padding-right: 5%;
    padding-left: 5.5em;
    padding-top: 5%;
  }
  .top_part #role{
    padding-left: 1em;
    font-weight: bold;
    opacity: 0.5;
    font-size: 18px;
  }

#select {
    list-style-type: none;
    text-align: center;
    
  }
#select li {
    position: relative;
    font-weight: bold;
    opacity: 0.5;
    font-size: 18px;
    padding-left: 0px;
    padding-top: 5%;
  }
#select .active{
    background-color: #f7d410;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

.pic img{
    width: 250px;
    margin-left: 2rem;
    padding-top: 5px;
    padding-left: 2rem;
}