* {
    margin: 0; 
    padding: 0;
  }
  canvas {
    border: 1px solid black;
    background-color: rgb(206, 243, 243);
  }
  .parent-container {
    display: flex;
    justify-content: center;
  }
  #starting-container {
    position: absolute;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(4, 5, 5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  input {
    margin: 20px 0;
    padding: 10px;
    height: 30px;
  }
  button {
    height: 30px;
  }